.main_taekwondo {
    .content {
        position: relative;
        max-width: calc(100% - $half-2 - 132px);
        margin: 0 0 0 auto;
    }

    .teak_title {
        position: absolute;
        top: 50%;
        left: -132px;
        transform: translate(0, -50%);
        z-index: 100;


        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            strong {
                display: block;

                font-size: 15px;
                font-weight: 600;
                line-height: 50px;
                width: 100px;
                padding: 0 0 0 16px;

                color: $c-6;
                background: $c-w;
                transition: 0.5s;
                user-select: none;
                cursor: pointer;
            }

            &.on {
                strong {
                    width: 172px;
                    color: $c-w;
                    background: $c-sub;
                }
            }
        }
    }


    .taek_theory {
        .itm {
            position: relative;
            height: 480px;
            border-radius: 100px 0 0 100px;

            &.itm01 {
                background: url(../images/taekwondo01.jpg) no-repeat 70% 60%/cover;
            }

            &.itm02 {
                background: url(../images/taekwondo02.jpg) no-repeat center 30%/cover;
            }

            &.itm03 {
                background: url(../images/taekwondo03.jpg) no-repeat center 40%/cover;
            }

            &.itm04 {
                background: url(../images/taekwondo04.jpg) no-repeat left 70%/cover;
            }

            &.itm05 {
                background: url(../images/taekwondo05.jpg) no-repeat right 65%/cover;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                z-index: -1;
                background: linear-gradient(to right, rgba($color: $c-9, $alpha: 0.1) 20%, rgba($color: $c-2, $alpha: 0.4) 100%);
                border-radius: 100px 0 0 100px;
            }
        }

        .desc {
            position: absolute;
            top: 250px;
            right: calc($half + 132px);

            width: 380px;
            text-align: right;
            text-shadow: 0 0 5px rgba($color: $c-b, $alpha: 0.1);

            h3 {
                font-size: 56px;
                font-family: 'KIMM_Bold';
                margin: 0 0 8px 0;
                color: $c-w;
            }

            p {
                color: $c-line;
                margin: 0 0 32px 0;
            }

            a {
                display: inline-block;
                padding: 10px 30px;
                background: $c-w;
                border-radius: 4px;
                cursor: pointer;
            }
        }

    }
}

@media (max-width:768px) {
    .main_taekwondo {

        .teak_title {
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
            width: 100%;
            background: $c-wb;

            li {
                border: $solid-w;

                strong {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                }

                &.on {
                    border: 1px solid $c-sub;

                    strong {
                        width: 100%
                    }
                }

                &:nth-child(2) {
                    border-left: none;
                }

                &:nth-child(3) {
                    border-left: none;
                }

                &:nth-child(4) {
                    border-top: none;
                    border-left: none;
                }

                &:nth-child(5) {
                    border-top: none;
                }
            }
        }

        .taek_theory {
            .itm {
                height: 550px;
                border-radius: 0px;

                &.itm01 {
                    background: url(../images/taekwondo01.jpg) no-repeat 40% 60%/cover;
                }

                &.itm02 {
                    background: url(../images/taekwondo02.jpg) no-repeat 40% 30%/cover;
                }

                &.itm04 {
                    background: url(../images/taekwondo04.jpg) no-repeat 60% 70%/cover;
                }

                &.itm05 {
                    background: url(../images/taekwondo05.jpg) no-repeat 55% bottom/cover;
                }

                &::before {
                    background: linear-gradient(to bottom, rgba($color: $c-9, $alpha: 0.1) 20%, rgba($color: $c-b, $alpha: 0.7) 100%);
                    border-radius: 0px;
                }
            }

            .desc {
                top: auto;
                bottom: 40px;
                right: 50%;
                transform: translate(50%, 0);
                text-align: center;
                width: 100%;

                h3 {
                    font-size: 44px;
                }

                p {
                    font-size: 15px;
                    padding: 0 15px;
                    margin: 0 0 24px 0;
                }
            }
        }
    }
}