//variable

$c-w : #fff;
$c-wb : #f7f8f9;
$c-line : #f2f2f2;
$c-g : #ddd;
$c-9 : #999;
$c-6 : #666;
$c-4 : #444;
$c-3 : #333;
$c-2 : #222;
$c-b : #000;
$c-main : #3e0f7c;
$c-sub: #8d1891;
$c-point: #b80e0e;

$max : 1440px;
$solid : 1px solid $c-g ;
$solid-w : 1px solid $c-line ;
$half : calc(100% - 1410px);
$half-2 : calc($half / 2);